<!DOCTYPE html>
<html lang="es" xmlns:th=http://www.thymeleaf.org>  
<head>    
    <title>Inventario SIIFA</title>    
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link rel="shortcut icon" href="#">

    <script type="text/javascript" th:href="@{/scripts/hola.js}"></script>
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
</head>  
<body>    
    <header>
        <h1>Inventario SIIFA</h1>      
    </header>    
    <br><br>

    <li><a th:href="@{'/herramientas/busqueda'}">Búsqueda herramientas</a></li>
    <li><a th:href="@{'/inicio'}">Registro de entradas</a></li>
    <li><a th:href="@{'/inicio'}">Registro de salidas</a></li>

</body>  
</html>